<h1>Places</h1>


<%if session["user_id"] !=nil %>
<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>


<p>
  <a class="btn btn-secondary" aria-current="page" href="/places/new" >New place</a>
</p>

<%else%>
<p>You need to Login! </p>
<%end%>