<h1>Places</h1>


<%if session["user_id"] !=nil %>
<ul>
  <% for place in @places %>
    <a class="btn btn-primary mt-2 ms-2 " aria-current="page" href="/places/<%= place["id"] %>"><%= place["name"] %></a>
  <% end %>
</ul>


<p>
  <a class="btn btn-outline-primary mt-3" aria-current="page" href="/places/new" >New place</a>
</p>

<%else%>
<p>You need to Login! </p>
<%end%>